/* cascading style sheet        */
/* hand-crafted for mikera.net  */

BODY {
  color: #A0A0A0;
  font-size: 12pt;
  background-color: #000000;
}

H1 {
  color: #C0C080;
  font-weight: bold;
  font-size: 20pt;
}

H2 {
  color: #C0A060;
  font-weight: bold;
  font-size: 16pt;
}

P {
  color: #C08040;
  font-size: 12pt;
}

LI {
  color: #A06020;
  font-size: 12pt;
}

A:link {
  color: #C00000;
  text-decoration: none;
}

A:visited {
  color: #C00000;
  text-decoration: none;
}

A:hover {
  color: #FF0000;
  text-decoration: none;
}

A:active {
  color: #C00000;
  text-decoration: none;
}